html {
    min-height: 100%;
}

*{
    font-family: 'Source Sans Pro', sans-serif;
    color: #ddd498;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    background-color: #405eb8;
}

svg {
    background-color: #8d946c;
}

#canvas {
    min-height: 600px;
    min-width: 1200px;
    overflow: visible;
}

#tooltip {
    visibility: hidden;
    width: fit-content;
    height: fit-content;
    overflow: visible;
}

#tooltip rect {
    fill: #8d946c;
}

#tooltip text {
    fill: #ddd498;
}

text {
    z-index: 5;
    font-size: 10px;
    fill: #2f3a3b;
}

#description {
    margin-top: -20px;
    margin-bottom: 30px;
}

#legend {
    min-width: 300px;
    min-height: 240px;
    overflow: visible;

}

#legend text {
    font-size: 13px;
}